.contact-page {
  text-align: center;
  margin: 15% auto;
  a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgb(105, 80, 165);
      text-decoration: none;
    }
  }
}
