.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
 

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    // width: 0%;
    .logo {
      width: 100%;
      height: 50%;
      margin: 20px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    .option {
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
        transition: transform .3s ease-in-out;
      }
    }
  }
}
