.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 50px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
  }

  .logo-container {
    font-size: 20px;
    font-weight: bold;
    width: 20%;

    @media screen and (max-width: 800px) {
      width: 10%;
      padding: 0;
    }

    .logo {
      display: inline-block;
      width: 20%;
      height: 20%;

      @media screen and (max-width: 800px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 90%;
      display: flex;
      justify-content: space-between;
      justify-content: end;
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
        transition: transform 0.3s ease-in-out;
      }

      @media screen and (max-width: 800px) {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 0.8em;
        font-weight: 550;

        &:hover {
          transform: none;
        }
      }
    }
  }
}
