.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.introduction {
  text-align: center;
  font-size: 1.5rem;
  line-height: 0.8;
  margin-bottom: 1rem;
}