body {
  font-family: "Architects Daughter", cursive;
  padding: 20px 60px;
  background-image: radial-gradient(circle, #bfc5c9, #ffffff);
}

html{
  height: fit-content;
}

a {
  text-decoration: none;
  color: black;
}
